.fa-map-marker-alt {

    padding: 11px 15px 12px 15px;

}

.ville {
    font-weight: 400;
    border: none;
    background: rgba(0, 0, 0, 0);
    outline: none;
    margin-top: 5px;
}

.form {
    background-color: #eaeaea;
    z-index: -1;
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

h1,
h2 {
    text-align: center;
}

h1 {
    font-size: 25px;
    margin: 30px 30px 0px 30px;
    font-weight: 800;
}

h2 {
    font-size: 16px;
    font-weight: 400;
    color: rgb(100, 100, 100);
}

.sub-part1 {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 30px;
}

button {
    margin-top: 5px;
    margin-bottom: 40px;
    border-radius: 25px;
    background: linear-gradient(to bottom, $color-secondary, $color-primary);
    padding: 15px 20px;
    border: none;
    color: white;
    box-shadow: rgb(0 0 0 / 24%) 0px 6px 12px;
}

.card-functioning {
    display: flex;
    align-items: center;
    border-radius: 20px;
    background: #f6f6f6;
    border: none;
    color: black;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 12px;
    margin: 30px 30px;
    padding: 25px 10px;
    font-weight: 600;
    position: relative;

    &:hover {
        background-color: #f5edff;

        .icon-functioning {
            color: $color-primary;
        }
    }
}

.icon-functioning {
    margin: 0px 25px;
    color: #a1a1a1;
}


.title1 {
    display: flex;
}

.number {
    padding: 6px 9px 3px 9px;
    background-color: #9356DC;
    border-radius: 25px;
    color: rgb(240, 240, 240);
    position: absolute;
    left: -15px;
    font-weight: 400;
}

.part3 {
    background-color: #f6f6f6;
    padding-bottom: 50px;
    padding-top: 20px;
}

.card-restaurant {
    margin: 10px 20px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 12px;
    position: relative;

    .card-nouveau-off {
        display: none;
    }
}

.card-restaurant-nouveau {
    margin: 10px 20px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 12px;
    position: relative;
}

.card-image {
    width: 100%;
    height: 185px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.card-nouveau {
    position: absolute;
    bottom: 222px;
    right: 15px;
    background-color: #99e2d0;
    color: #0e8f6f;
    font-size: 12px;
    padding: 6px 10px 3px 10px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 12px;
    border-radius: 2px 2px 2px 2px;
    font-weight: 500;
}

.card-text {
    margin-left: 12px;
}

.card-title {
    font-weight: 600;
    margin-top: 12px;
}

.card-subtitle {
    margin-top: 5px;
    padding-bottom: 14px;
}

.fa-heart-empty {
    color: #777777;
}

.fa-heart-full {
    display: none;
}

.card-coeur {
    position: absolute;
    right: 15px;
    top: 216px;
    font-size: 24px;

    &:hover {
        .fa-heart-full {
            display: block;
            color: $color-primary;
        }

        .fa-heart-empty {
            display: none;
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #353535;
    padding-left: 20px;
    padding-bottom: 15px;

    .bold {
        font-weight: 400;
        display: flex;
    }

    a {
        color: white;
        font-size: 12px;
        font-weight: 300;
        margin: 5px 0;

    }
}

.logo-footer {
    margin-bottom: 15px;
    margin-top: 15px;
    height: 15px;
    object-fit: contain;
}

.fa-utensils {
    margin-right: 10px;
    font-size: 10px;
}

.fa-hands-helping {
    margin-right: 10px;
    font-size: 9px;
    margin-left: -1px;
}

.ajust {
    margin-left: -2px;
}