@media (min-width: 992px) {
    .fonctionnement {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 2%;
    }

    .card-functioning {
        width: 22%;
    }

    .accueil-main {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
    }

    .breakpoint {
        display: flex;
    }

    .restaurant {
        width: 25%;
    }

    .title1 {
        display: flex;
        margin-bottom: 40px;
        padding-top: 20px;
        margin-left: -10px;
    }
}