@import "../vars/variables.scss";
@import "../vars/mixin.scss";

main {
    margin-bottom: -72px;
}

.sub-part1 {
    padding: 25px 22px 0 22px;
}

.title1 {
    display: flex;
    position: relative;
    font-family: Shrikhand;
    border-radius: 20px;
}

.title2 {
    text-transform: uppercase;
    font-size: 20px;
    border-bottom: 4px solid $tertiary;
    width: 52px;
    margin-left: -1px;
}

.part1 {
    border-radius: 35px 35px 0 0;
    position: relative;
    background: $grey;
    top: -72px;
}

.sous-section {
    margin-top: 40px;
}

.plat {
    font-size: 18px;
}

.accompagnement {
    font-size: 14px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.prix {
    font-size: 16px;
    position: absolute;
    right: 25px;
    top: 40px;
}

.button-div {
    display: flex;
    justify-content: center;
}

button {
    margin-top: 5px;
    margin: 30px 0 60px 0;
    border-radius: 25px;
    background: linear-gradient(to bottom, $secondary, $primary);
    padding: 15px 47px;
    border: none;
    color: white;
    box-shadow: rgb(0 0 0 / 24%) 0px 6px 12px;
}

.card-functioning {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 15px;
    background: white;
    border: none;
    color: black;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 12px;
    margin: 20px -5px 20px -5px;
    padding: 15px 10px;
    font-weight: 600;
    position: relative;
    line-height: 25px;
    opacity: 0;
}

.menu .card .card__container:nth-child(1n+0):hover .card__container--animation {
    background-color: #97dac1;
    transform: scale(3, 1);
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-check-circle {
    display: flex;
    justify-content: center;
    background: white;
    border-radius: 100%;
    color: #99E2D0;
    padding: 5px;
    font-size: 120%;
    z-index: 2;
}

.icon-functioning {
    margin: 0px 25px;
    color: #a1a1a1;
}

.part3 {
    background-color: $grey;
    padding-bottom: 50px;
    padding-top: 20px;
}

.card-text {
    margin-left: 12px;
}

.card-title {
    font-weight: 600;
    margin-top: 12px;
}

.card-subtitle {
    margin-top: 5px;
    padding-bottom: 14px;
}

.fa-heart-empty {
    color: #777777;
}

.fa-heart-full {
    display: none;
}

.card-coeur {
    position: absolute;
    right: -40px;
    top: 3px;
    font-size: 30px;
    position: relative;

    .fa-heart-empty {
        transition: opacity 250ms;
    }

    &:focus {
        .fa-heart-empty {
            opacity: 0;
        }

        .fa-heart-full {
            opacity: 1;
            z-index: 3;
        }

    }

    .fa-heart-full {
        display: block;
        background: $gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        transition: opacity 250ms;
    }
}

.card-functioning {
    animation: here-is-the-menu 1s;
    animation-fill-mode: forwards;

    &.delayB {
        animation-delay: 0.2s;
    }

    &.delayC {
        animation-delay: 0.4s;
    }

    &.delayD {
        animation-delay: 0.6s;
    }

}

@keyframes here-is-the-menu {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    25% {
        opacity: .25;
    }

    50% {
        opacity: .5;
    }

    75% {
        opacity: 0.75;
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}